{% extends 'base.html' %}
{% load static %}


{% block content %}
<form id="search-form" class="search-form relative" method="GET" onsubmit="loader()">
    <input id="s_input" type="search" name="q" class="search__input" aria-label="Search"
        placeholder="Search or paste Youtube link here" value="{{ q }}">
    <button id="btn-convert" class="btn-red" type="submit">Convert</button>
</form>





<div id="search-result">

    <ul class="listvideo">
        {% for video in search_results %}
        <li>
            <a href="{% url 'downloader:download' %}?q={{ video.link }}" title="{{ video.title }}" onclick="loader()" id="video_result">
                <img src="{{ video.image }}" width="100%" height="100%" alt="{{ video.title }}">
                <div class="content">
                    <div class="clearfix">
                        <h3>{{ video.title }}</h3>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>




{% endblock content %}